<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <category label="Configuracion">
		<setting id="username" label="Usuario" type="text" default="" />
        <setting id="password" label="Contraseña" type="text" option="hidden" default="" />
        <setting id="auto-update" label="Aviso de Actualizaciones" type="bool" default="true" />
   	</category>

    <category label="Copia de Seguridad">
        <setting id="zip" label="Elige Destino para Backup" type="folder" default=""/>
    </category>

	<category label="Mantenimiento">
		<setting label="Limpieza Automática:" type="lsep"/>
		<setting id="autoclean" label="Ejecutar Borrado Automático al inicio" type="bool" default="true"/>
		<setting id="clearcache" label="Borrar Cache al inicio" type="bool" default="true" visible="!eq(-1,false)"/>
		<setting id="clearpackages" label="Borrar Packages al inicio" type="bool" default="true" visible="!eq(-2,false)"/>
		<setting id="clearthumbs" label="Borrar Iconos al inicio" type="bool" default="true" visible="!eq(-3,false)"/>
		<setting id="autocleanfeq" label="Frecuencia de Ejecución?" type="enum" values="Siempre|A Diario|Cada 3 Dias|Semanal" visible="!eq(-4,false)" default="2"/>
		<setting id="nextautocleanup" label="Próxima Limpieza: " type="text" enable="false" visible="true" default=""/>
		<setting label="Borrar Cache de Video:" type="lsep" visible="!eq(-6,false)"/>
		<setting id="includevideo" label="Incluye Cache de Addons de Video en Borrado: " type="bool" default="true"  visible="!eq(-7,false)"/>

		<setting label="Opciones Debugger:" type="lsep"/>
        <setting id="debug" label="Debug" type="bool" default="true" />
        <setting id="dtype" label="DType" type="number" default=2 visible="!eq(-1,false)" />
		<setting id="kodilog" label="Habilitar escritura en Kodi.Log: " type="bool" visible="!eq(-2,false)" default="false"/>
		<setting id="wizardlog" label="Habilitar escritura en Wizard.Log: " type="bool" visible="!eq(-3,false)" default="true"/>
		<setting id="autocleanwiz" label="Asistente de limpieza automatica en Wizard.Log: " type="bool" visible="!eq(-4,false)+!eq(-1,false)" default="true"/>
		<setting id="wizlogcleanby" label="Como le gustaria limpiar el asistente de registro?" type="enum" visible="!eq(-1,false)+!eq(-2,false)+!eq(-5,false)" values="Por dias|Por Capacidad|Por lineas" default="1"/>
		<setting id="wizlogcleandays" label="Mantenga cuantos dias el wizard.log?" visible="eq(-1,0)+!eq(-2,false)+!eq(-3,false)+!eq(-6,false)" type="enum" values="1|2|3|7" default="2"/>
		<setting id="wizlogcleansize" label="Capacidad Maxima del archivo para wizard.log?" type="enum" visible="eq(-2,1)+!eq(-3,false)+!eq(-4,false)+!eq(-7,false)" values="100 KB|200 KB|300 KB|400 KB|500 KB|1 MB" default="1"/>
		<setting id="wizlogcleanlines" label="Mantenga el numero de lineas de wizard.log?" type="enum" visible="eq(-3,2)+!eq(-4,false)+!eq(-5,false)+!eq(-8,false)" values="100|200|300|400|500" default="2"/>
		<setting id="nextcleandate" label="Proxima Limpieza de Wizard:" type="text" enable="false" visible="true" default=""/>
	</category>

	<category label="Vistas">
        <setting id="auto-view" label="Auto-View" type="bool" default="true" />
        <setting id="viewType" label="Tipo de Vista" type="number" default="500" enable="eq(-1,false)"/>
        
        <setting id="defaultskin" label="Default Skin: " type="text" default="skin.xonfluence" visible="false"/>
        <setting id="defaultskinname" label="Default Skin Name: " type="text" default="Xonfluence" visible="false"/>
        <setting id="defaultskinignore" label="Ignore default skin check:" type="bool" default="false" visible="false"/>
        <setting id="default.enablerssfeeds" label="Default lookandfeel.enablerssfeeds:" type="text" default="true" visible="false"/>
        <setting id="default.font" label="Default lookandfeel.font:" type="text" default="Default" visible="false"/>
        <setting id="default.rssedit" label="Default lookandfeel.rssedit:" type="text" default="" visible="false"/>
        <setting id="default.skincolors" label="Default lookandfeel.skincolors:" type="text" default="SKINDEFAULT" visible="false"/>
        <setting id="default.skintheme" label="Default lookandfeel.skintheme:" type="text" default="SKINDEFAULT" visible="false"/>
        <setting id="default.skinzoom" label="Default lookandfeel.skinzoom:" type="text" default="0" visible="false"/>
        <setting id="default.soundskin" label="Default lookandfeel.soundskin:" type="text" default="resource.uisounds.kodi" visible="false"/>
        <setting id="default.startupwindow" label="Default lookandfeel.startupwindow:" type="text" default="10000" visible="false"/>
        <setting id="default.stereostrength" label="Default lookandfeel.stereostrength:" type="text" default="5" visible="false"/>
	</category>

    </settings>